<template>
  <el-container>
    <el-header>
      <h1>
        <!-- Все пользователи или имя текущего -->
      </h1>
    </el-header>
    <el-main><Nuxt/></el-main>
  </el-container>
</template>

<script>
export default {

}
</script>